.s1 {
}

.s2 {
  position: relative;
  top: 100px;
  left: 25%;
}

.signUpTitle {
  text-align: center;
  margin-bottom: 15px;
}

.sign-up-button {
  padding: 7px 32px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;

  box-shadow: 4px 4px 4px gray;
}

.sign-in-2 {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.sign-up-buttons {
  display: flex;
  justify-content: end;
}
