.sign-in-title {
  text-align: center;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: end;
}

.sign-in-button {
  padding: 7px 32px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  box-shadow: 4px 4px 4px gray;
}

.team-register-title {
  margin-bottom: 20px;
  margin-top: 80px;
}
